@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
/*@import url(menu.css);*/
/*@import url(banner.css);*/
/*@import url(valores.css);*/
/*@import url(servicios.css);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container{
    width: 100%;
    margin: auto;
}

h1 {
    display: inline-flex;
    float: left;
    font-size: large;
    margin: 6px 0;
}

header.container{
    display: table;
}

section {
    width: 100%;
    margin-bottom: 10px;
}

footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copy{
    font-size: 20px;
}

.social{
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.social a{
    color: #333;
    text-decoration: none;
}

@media (min-width:1024px){
    .container{
        width: 1024px;
    }
    h1{
        font-size: 24px;
    }
}

/* Input Forms*/

input[type="text"], input[type="password"]{

  outline: none;

  padding: 20px;

  display: block;

  width: 300px;

  border-radius: 3px;

  border: 10px solid #eee;

  margin: 20px auto;

}



input[type="submit"] {

  padding: 10px;

  color: #fff;

  background: #0098cb;

  width: 320px;

  margin: 20px auto;

  margin-top: 0;

  border: 0;

  border-radius: 3px;

  cursor: pointer;

}

input[type="submit"]:hover {

  background-color: #00b8eb;

}
